# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

.env
private_key.pem
public_key.pem
.vscode/
.DS_Store
build-test/DB/data
build-test/B/db/exports
build-test/B/db/respaldos
test/db/data
test/db/exports
test/db/respaldos
test/db/mariadb
test/B/db/data
build/test/mailer/QubeFlex.png
build/test/mailer/index.js
build/test/mailer/Dockerfile
build/test/docker-compose.yml
build/test/DB/b.sql
build/test/B/db/estado_inicial.sql
build-test/mailer/QubeFlex.png
build-test/mailer/index.js
build-test/mailer/Dockerfile
build-test/docker-compose.yml
build-test/DB/b.sql
build-test/B/db/estado_inicial.sql
test/